<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleGetInfoString</key>
	<string>Freecom NDAS Installer 1.6.3</string>
	<key>CFBundleIdentifier</key>
	<string>com.ximeta.NDASInsaller</string>
	<key>CFBundleName</key>
	<string>Freecom NDAS Installer</string>
	<key>CFBundleShortVersionString</key>
	<string>1.6.3</string>
	<key>IFMajorVersion</key>
	<integer>1</integer>
	<key>IFMinorVersion</key>
	<real>6.2999999999999998</real>
	<key>IFPkgFlagBackgroundAlignment</key>
	<string>bottomleft</string>
	<key>IFPkgFlagBackgroundScaling</key>
	<string>tofit</string>
	<key>IFPkgFlagComponentDirectory</key>
	<string>../Packages</string>
	<key>IFPkgFlagPackageList</key>
	<array>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>Freecom NDAS Utility.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>NDASService.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>netlpx.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
		<dict>
			<key>IFPkgFlagPackageLocation</key>
			<string>NDASFamily.pkg</string>
			<key>IFPkgFlagPackageSelection</key>
			<string>required</string>
		</dict>
	</array>
	<key>IFPkgFormatVersion</key>
	<real>0.10000000000000001</real>
	<key>IFRequirementDics</key>
	<array>
		<dict>
			<key>LabelKey</key>
			<string>OSverLabel</string>
			<key>Level</key>
			<string>requires</string>
			<key>MessageKey</key>
			<string>OSVerMessage</string>
			<key>SpecArgument</key>
			<string>sysv</string>
			<key>SpecType</key>
			<string>gestalt</string>
			<key>TestObject</key>
			<string>4128</string>
			<key>TestOperator</key>
			<string>ge</string>
		</dict>
	</array>
</dict>
</plist>
