<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>LHD-LU2 Admin</string>
	<key>CFBundleIconFile</key>
	<string>NDAdmin.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.ximeta.LogitecAdmin</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>LDH-LU2 Admin</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.3.1</string>
	<key>ModelName</key>
	<string>LHD-LU2</string>
	<key>NSMainNibFile</key>
	<string>MainMenu_Logitec</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
